// ---------------------------
// Vars & Helper Functions
// ---------------------------

:root {
  --screen-width:     100%;
  --screen-height:    100%;
  --header-bg-color:  linear-gradient(90deg, rgba(241,250,238,1) 18%, rgba(250,255,248,0) 72%);
  --splash-bg-color:  rgb(254,95,85);
  
}

// calculate a circle's circumference based on radius
@function circumference($r){
  $pi: 3.141592653;
  @return 2*$pi*$r;
}



// ---------------------------
// Main Navigation Menu
// ---------------------------

.logobuddy {    
  width: 250px;
  text-align: start;
  margin: auto 1rem;
  display: flex;
}

.imgmain2 {
  width:400px;
  display: flex;
  margin-right: 2rem ;
  text-align:start;
  float: left;
  }

  .imgmain3 {
    width: 800px;
    display: flex;
    margin: auto ;    
    
    }

   
    
   
    

.paragraphehome{
  font-size: 1.3rem;
  margin-top: 2rem;
  padding: 2rem;
  text-align: start;
  color: #333745;
}
.nav {
  
  // Toggle Button
  &__toggle {
    display:inline-block;
    position:absolute;
    z-index:10;
    padding:0;
    border:0;
    background:transparent;
    outline:0;
    right:15px;
    top:15px;
    cursor:pointer;
    border-radius:50%;
    transition:background-color .15s linear;
    
    &:hover,
    &:focus {
      background-color:rgba(0,0,0,.5);
    }
  }
  
  &__menu {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:var(--screen-height);
    position:relative;
    z-index:5;
    visibility:hidden;
  }
  
  &__item {
    opacity:0;
    transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
  }
  @for $i from 1 through 5 {
    &__item:nth-child(#{$i}){
      transform:translateY(-40px * $i);
    }
  }
  
  &__link {
    color:#f1faee;
    display:block;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:2.2rem;
    text-decoration:none;
    padding:1rem;
    margin-top: 3rem;
    font-weight: 600;
    
    &:hover,
    &:focus {
      outline:0;
      background-color:rgba(0,0,0,0.2);
    }
  }
}


// ---------------------------
// SVG Menu Icon
// ---------------------------

.menuicon {
  
  display:block;
  cursor:pointer;
  color: #333745;
  
  transform:rotate(0deg);
  transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
  
  &__bar,
  &__circle {
    fill:none;
    stroke: currentColor;
    stroke-width:3;
    stroke-linecap:round;
  }
  &__bar {
    transform: rotate(0deg);
    transform-origin:50% 50%;
    transition: transform .25s ease-in-out;
  }
  &__circle {
    transition: stroke-dashoffset .3s linear .1s;
    stroke-dashoffset:circumference(23); // 23 is the <circle>'s radius
    stroke-dasharray:circumference(23);
  }
}


// ---------------------------
// Circular Splash Background
// ---------------------------

.splash {
  position:absolute;
  top:40px;
  right:40px;
  width: 1px;
  height: 1px;
  
  &::after {
    content:"";
    display:block;
    position:absolute;
    border-radius:50%;
    background: rgb(254,95,85);
background: linear-gradient(308deg, rgba(254,95,85,1) 44%, rgba(255,154,148,1) 89%);
    
    // screen diameter can be 142vmax at most,
    // circle needs to be twice that size to cover it
    width:284vmax;
    height:284vmax;
    top:-142vmax;
    left:-142vmax;
    
    transform: scale(0);
    transform-origin:50% 50%;
    transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);
    
    // will-change tells the browser we plan to 
    // animate this property in the near future
    will-change:transform;
  }
}


// ---------------------------
// Active State
// ---------------------------

.nav:target,
.nav--open {
  
  //scale the background circle to full size
  > .splash::after {
    transform:scale(1);
  }
  
  //animate the menu icon
  .menuicon {
    color:#f1faee;
    transform:rotate(180deg);
    
    &__circle {
      stroke-dashoffset:0;
    }
    &__bar:nth-child(1),
    &__bar:nth-child(4) {
      opacity:0;
    }
    &__bar:nth-child(2) {
      transform: rotate(45deg);
    }
    &__bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
  
  //show the nav items
  .nav {
    &__menu {
      visibility:visible;
    }
  
    &__item {
      opacity:1;
      transform:translateY(0);
    }
  }
}

// ---------------------------
// Demo Stuff, Ignore
// ---------------------------

body {
  background: rgb(241,250,238);
background: linear-gradient(112deg, rgba(241,250,238,1) 15%, rgba(247,247,247,1) 89%);
  
  display:flex;
  flex-direction:column;
  justify-content:center;
  font-family: 'Shantell Sans', cursive;
  
 
}


.logobuddyhome {
  width: 520px;
  text-align: center;
  margin: auto ;
  display: flex;

}


.viewport {
  width:var(--screen-width);
  height:var(--screen-height);
  margin:0 auto;
  position:relative;
  overflow:hidden;
  
}

.header {
  height:8rem;
  background: #f1faee;
}

.main {
  padding:2rem;
  margin-top: 1rem;
}

.imgmain {
  width:400px;
  display: flex;
  margin-right: 2rem ;
  text-align:end;
  float: right;
  

}
/* Définition de l'animation */
@keyframes rotate {
0% {
  transform: rotate(10deg);
}
50% {
  transform: rotate(18deg);
}
100% {
  transform: rotate(15deg);
}
}

/* Application de l'animation à l'image */
.imgmain {
animation-name: rotate;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
}




  
.bubble {
    background-color: #fff;
    border: 2px solid #333745;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 10px;
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 20rem;
    margin-top: 9rem;
   }

   .bubble2 {
    background-color: #fff;
    border: 2px solid #333745;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 10px;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 15rem;
  margin-top: 1rem;
    
   }

   .bubble3 {
  margin-top: 4rem;
  text-align: center;
    
   }



  

  
.bubble p {
  margin: 0;
  text-align: justify;
}

h1{
  font-size: 2.5rem;    
  color:#333745;
}
.textvaleur{
  font-size: 2.6rem;
  color:#e63462;
  font-weight: 800;
}

.gallery {
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 130px;
  grid-gap:20px;
  
  &__item {
    height:100%;
    background-color:#D8D8D8;
    
    &:hover,
    &:focus {
      background-color:#A4A4A4;
    }
  }
  
} 

footer {
 font-size: 1.4rem;
}
.footer {
  margin: 5rem auto 0.5rem;
  text-align: center;
  
}

.switch {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
}
.switch input {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 0;
  height: 0;
}
.switch input + span {
  position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background:#333745;
 border-radius: 20px;
}
.switch input:checked + span {
background:linear-gradient(308deg, rgba(254,95,85,1) 44%, rgba(255,154,148,1) 89%);
}
.switch input + span:before {
content: "";
display: inline-block;
position: absolute;
top: 50%;
left: 4px;
width: 32px;
height: 32px;
background: rgb(255, 255, 255);
border-radius: 50%;
transform: translateY(-50%);
transition: all .5s;
}
.switch input:checked + span:before {
left: 34px;
}
