button {
  margin: 20px;
}
.custom-btn {
  margin-top: 6rem;
  font-family: 'Shantell Sans', cursive;
  width: 350px;
  height: 70px;
  color: #fff;
  border-radius: 20px;
  padding: 10px 25px;   
  font-weight: 800;
  font-size: 2.2rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
/* 15 */
.btn-15 {
  background: rgb(230,52,98);
background: linear-gradient(112deg, rgba(230,52,98,1) 68%, rgba(231,54,98,1) 69%, rgba(254,95,85,1) 94%);
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #333745;
  border-radius: 20px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}

footer {
  margin-bottom:10px;
  margin-top: 5rem;
}

.custom-btn2 {
  margin-top: 6rem;
  font-family: 'Shantell Sans', cursive;
  width: 420px;
  height: 90px;
  color: #fff;
  border-radius: 20px;
  padding: 10px 25px;   
  font-weight: 800;
  font-size: 2rem;
  cursor: pointer;  
  background: rgb(230,52,98);
background: linear-gradient(112deg, rgba(230,52,98,1) 68%, rgba(231,54,98,1) 69%, rgba(254,95,85,1) 94%); 
  border: none;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.custom-btn2:hover {
  color: #fff;
  background: #333745;
}