* {
  margin: 0;
  padding: 0;
  transition: all ease-in 0.3s;

}
body {
  font-family: sans-serif;
  background-color: #000;
}

a {
  text-decoration: none;
}
/* Container should be full height and full width */
.container {
  position: relative;
  width: 100vw;
  height: 40vh;
}

.container > .bg-video {
  width: 100%;
  height: 100%;
}

/* background-color and color should be the same as the below otherwise it won't work */
.container > .text {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #000;
  color: #fff;
  font-weight: 900;
  font-size: 2.2rem;
  font-family: sans-serif;
  /* Mix Blend Mode does the all magic */
  mix-blend-mode: multiply;
  user-select: none;
  text-transform: uppercase;
  text-align: center;
}
.arrow-container {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: none; /* Initialement caché */
  z-index: 3;
}

.scroll-down {
  color: #fff; /* ou toute autre couleur */
  font-size: 2rem; /* Taille de l'icône */
}

.discover-container {
  opacity: 0; /* Initialement transparent */
  transition: opacity 1s ease-in-out;
  width: 220px;
  text-align: center;
  margin: 0 auto
}

.discover-text {
  display: block;
  color: #000;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 2rem 0;
  padding: 1rem 0.5rem;
  background-image: url(../img/marbre.jpg);
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7), 
              0 0 20px 10px rgba(255, 255, 255, 0.5),
              0 0 25px 15px rgba(255, 255, 255, 0.3);
}

.stay-text {
  color: white;
  font-size: 0.8rem;
  margin-top: 5px;
}

.show {
  display: block;
  opacity: 1;
}

.show-stay-text {
  opacity: 1; /* Rendre le texte visible */
  transition-delay: 1s; /* Ajoute un délai après l'apparition du bouton */
}


/* Requête média pour les écrans plus larges que 964px */
@media screen and (min-width: 965px) {
  .img-fill {
    display: none; /* Cache le contenu vidéo pour les grands écrans */
  }

  #message-portable {
    display: flex; /* Affiche le message */
    justify-content: center;
    background-color: black; /* Fond noir */
    width: 100vw; /* Largeur complète de la vue */
    height: 100vh;
    align-items: center;
  }
}