*{
  transition: all ease-in 0.3s;
}
body {
  font-family: sans-serif;
  background-color: #090801;
}
h4 {
  margin: 0;
}

@keyframes fadeInBrightness {
  from {
    filter: brightness(0%);
  }
  to {
    filter: brightness(70%);
  }
}

  .img-fill video {
    height: 97vh;
    width: 100%;
    filter: brightness(60%) ;
    object-fit: cover;
    animation: fadeInBrightness 4s ease-out forwards; /* Applique l'animation */
    position: relative; 
}
/* Style par défaut : le message est caché */
#message-portable {
  display: none;
  position: fixed; /* Positionnement fixe pour rester au milieu */
  top: 50%; /* Centré verticalement */
  left: 50%; /* Centré horizontalement */
  transform: translate(-50%, -50%); /* Ajustement précis du centre */
  color: white; /* Texte blanc */
  font-size: 2em; /* Taille du texte */
  z-index: 10; /* Assurez-vous qu'il est au-dessus de tout autre contenu */
}
.welcome-message {
  position: absolute; /* Positionnement absolu par rapport à son parent */
  top: 0; /* En haut de la div parente */
  left: 50%; /* Centrer horizontalement */
  transform: translateX(-50%); /* Ajustement précis pour le centrage horizontal */
  z-index: 2; /* S'assurer que le texte est au-dessus de la vidéo */
  color: white; /* Couleur du texte */
  margin-top: 5rem;
  border-radius: 12px;
  padding: 0.6rem 0.5rem;
  width: 60vw;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  /* Ajouter plus de styles si nécessaire */
}
.arrow-container {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: none; /* Initialement caché */
  z-index: 3;
}

.scroll-down {
  color: #fff; /* ou toute autre couleur */
  font-size: 2rem; /* Taille de l'icône */
}

.discover-container {
  opacity: 0; /* Initialement transparent */
  transition: opacity 1s ease-in-out;
}

.discover-text {
  display: block;
  color: #000;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 2rem 0;
  padding: 1rem 0.5rem;
  background-image: url(../img/marbre.jpg);
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7), 
              0 0 20px 10px rgba(255, 255, 255, 0.5),
              0 0 25px 15px rgba(255, 255, 255, 0.3);
}

.stay-text {
  color: white;
  font-size: 0.8rem;
  margin-top: 5px;
}

.show {
  display: block;
  opacity: 1;
}

.show-stay-text {
  opacity: 1; /* Rendre le texte visible */
  transition-delay: 1s; /* Ajoute un délai après l'apparition du bouton */
}


/* Requête média pour les écrans plus larges que 964px */
@media screen and (min-width: 965px) {
  .img-fill {
    display: none; /* Cache le contenu vidéo pour les grands écrans */
  }

  #message-portable {
    display: flex; /* Affiche le message */
    justify-content: center;
    background-color: black; /* Fond noir */
    width: 100vw; /* Largeur complète de la vue */
    height: 100vh;
    align-items: center;
  }
}
